.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d); 
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    margin: 4px 0 0;
    padding-left: 0;
    display: flex;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item-user {
    display: flex;
    justify-items: center;
    position: relative;
    z-index: 2;
}

.header__navbar-item-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img {
    height: 20px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-weight: 400px;
    font-size: 1.2rem;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    border-radius: 2px;
    background-color: var(--white_color);
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px rgb(230, 227, 227);
    display: none;
}

.header__navbar-item-user::after {
    content: "";
    display: block;
    position: absolute;
    top: 28px;
    right: 16px;
    width: 70%;
    height: 10px;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    cursor: pointer;
    right: 4px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white_color) transparent;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text_color);
    padding: 4px 16px;
    display: block;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}    

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}    

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__notifi::after {
    right: 0;
    top: -16px;
    height: 20px;
    content: "";
    display: block;
    position: absolute;
    width: 90px;
}

.header__navbar-item--hasnotifi:hover .header__notifi {
    display: block;
}

.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color:  rgb(255, 255, 255, 0.7);
}

.header__navbar-item--hasqr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color : var(--white_color);
    text-decoration: none;
    font-weight: 300;
    margin :  0 8;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item--strong {
    font-weight: 500px;
}

.header__navbar-icon--link {
    color: var(--white_color);
    text-decoration: none;
}

.header__navbar-icon--link:nth-child(2) {
    margin-left: 5px;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin : 0 4px;
}

.header__navbar-item--separate::after {
    content:  "";
    display: block;
    position: absolute;
    border-left: 1px solid rgb(184, 54, 54); 
    height: 14px;
    right: -10px;
    top : 50%;
    transform: translateY(-50%);
}

.header__navbar-title--no-pointer{
    color: var(--white_color);
    cursor: text;
}

/* Header QR */
.header__qr::before{
    position: absolute;
    width: 260px;
    height: 20px;
    content: "";
    display : block;
    left: 0;
    top : -15px;
}

.header__qr{
    animation: fadeIn ease-in  0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 8px;
    width: 198px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top : 118%;
    background-color: var(--white_color);
    display: none;
}

.qr-{
    width: 100%;
}

.apps {
    display: flex;
    justify-content: space-between;
}

.header-download:nth-child(1){
    margin-left: 10px;
    
}

.header-download:nth-child(2){
    margin-right: 12 px;
    
}

.header__download--apps {
    height: 15px;
    margin-bottom: 15px;
}

/* Header Notification */
.header__notifi {
    position: absolute;
    z-index: 2;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white_color);
    border : 1px solid #D3D3D3;
    cursor: default;
    animation: header__notifiappear ease-in 1s;
    transform-origin: calc(100% - 32px) top; 
    display: none;
    will-change: opacity, transform;
}

.header__notifi::before {
    content: "";
    border-style: solid;
    border-width: 20px 25px;
    border-color: transparent transparent var(--white_color) transparent;
    position: absolute;
    right: 0;
    top: -32px;
    /* display: none; */
}

@keyframes header__notifiappear {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {opacity: 1;
        transform: scale(1);
    }
}

.header__notifi--header {
    height: 40px;
    background-color: var(--white_color);

}

.header__notifi--header h3{
    color: rgb(236, 236, 236);
    font-size: 1.4rem;
    font-weight: 400px;
    margin: 0 0 0 12px; 
    line-height: 40px;
    cursor: text;
    user-select: none;
}

.header__notifi__list {
    padding-left:  0;
}

.header__notifi--item {
    display: flex;
}

.header__notifi--item--view {
    background-color: rgba(238, 77, 45, 0.09);
}

.header__notifi--item--view:hover {
    display: block;
    background-color: var(--white_color);
}

.header__notifi--item-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notifi--img {
    width: 48px;
    object-fit: contain;
}

.header__notifi--body {
    margin-left: 12px;
}

.header__notifi--name {
    display: block;
    font-size: 1.5rem;
    line-height: 1.6rem;
    color: var(--text_color);
    font-weight: 400px;
}

.header__notifi-dis {
    display: block;
    font-size: 12px;
    margin-top: 4px;
    color : #756f75;
}

.header_footer__notifi { 
    display: flex;
}

.header_footer__notifi_all {
    text-decoration: none;
    color: var(--black_color);
    text-align: center;
    width: 100%;
    padding: 8px 0;
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Resgister Form */
.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white_color);
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400px;
    color: var(--text_color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500px;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 100px;
    border: 1px solid var(--border_color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form_social {
    background-color: #F5F5F5;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.auth-form_social-icon {
    font-size: 2rem;
}

.auth-form_social--fb{
    background-color: #3A5A98;
    color: var(--white_color);
}

.auth-form_social--fb
.auth-form_social-icon {
    color: var(--white_color);
}

.auth-form_social-title {
    margin: 0 32px;
}

.auth-form_social--gg {
    background-color: var(--white_color);
    color: #666666;
}
/* Login Form */
.auth-form__aside_help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__aside_help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__aside_help--separate {
    display: block;
    height: 22px;
    margin: 1px 16px 0px;
    border-left: 1px solid #eaeaea;
}

.auth-form__aside_help-forgot {
    color: var(--primary-color);
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
    justify-content: space-around;    
}
/* Danh mục ẩn */
.header__mobile-danhmuc {
    font-size: 2rem; 
    color: var(--white_color);
    margin-right: 20px;
    display: none;
}

.header__mobile-layout-danhmuc {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    animation: fadeIn linear 0.3s;
    z-index: 1;
}

.category--molibe-tablet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    overflow-y: scroll;
    background-color: var(--white_color);
    z-index: 2;
    transform: translateX(-100%);
    transition: all linear 0.3s;
    opacity: 0;
}

.danhmucan-thoat {
    position: absolute;
    top: 5px;
    right: 1rem;
    font-size: 1.6rem;
    font-weight: 400px;
    color: #666;
}

.category--molibe-tablet-heading {
    font-size: 1.8rem;
    color: var(--black_color);
    margin-left: 10px;
}

.category--molibe-tablet-list {
    margin-top: 24px;
    list-style: none;
}

.category--molibe-tablet-item__link {
    text-decoration: none;
    color: #333333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.danhmuccheckbox:checked ~ .header__mobile-layout-danhmuc {
    display: block;
}

.danhmuccheckbox:checked ~ .category--molibe-tablet {
    transform: translateX(0%);
    opacity: 1;
}
/*  */
.header__mobile-search {
    padding: 10px 12px;
    margin-left: -3px;
}

.header__mobile-search-icon {
    font-size: 2.2rem;
    color: var(--white_color);
    margin: 10px 12px;
}

/* Search */
.header__logo {
    width: 200px;
}

.header__search-checkbox:checked ~ .header__search{
    display: flex;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
    color: var(--white_color);
    display: block;
    line-height: 0;
}

.header__search {
    height: 40px;
    flex: 1;
    margin-left: 40px;
    background-color:  var(--white_color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.header__cart-wrap::before {
    content: "";
    position: absolute;
    display: block;
    top: 28px;
    height: 24px;
    width: 30%;
    left: 0px;
}

.header__cart-wrap {
    display: inline-block;
    position: relative;
    padding: 0 12px 2px;
    cursor: pointer;
    animation: fadeIn ease-in 0.2s;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list  {
    position: absolute;
    top: calc(100% + 4px);
    right: 1px;
    background-color: var(--white_color);
    width: 400px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    cursor: default;
    display: none;
}
/* Cart Item */
.header__cart__heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart__list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart__item {
    display: flex;
    align-items: center;
}

.header__cart__item:hover {
    background-color: #f8f8f8;
}

.header__cart__item-img {
    width: 42px;
    height: 42px;
    margin: 12px 12px;
    border: 2px solid #e8e8e8;
}

.header__cart__item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart__item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart__item-name {
    font-size: 1.4rem;
    font-weight: 450;
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart__item-price {
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--primary-color);
}

.header__cart__item-multi {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart__item-qnt {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 400px;
}

.header__cart__item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart__item-descrition {
    color: #757575;
    font-size: 1.25rem;
    font-weight: 300;
}

.header__cart__item-delete {
    color: var(--text_color);
    font-size: 1.4rem;
}

.header__cart__item-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-viewcart {
    margin: 0 18px 12px 0;
    float: right;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    cursor: pointer;
    right: 4px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white_color) transparent;
}

.header__cart-img {
    width: 55%;
    border-radius: 2px;
    display: none;
}

.header__cart-list--nocart {
    padding: 24px 0;
}

.header__cart-list--nocart .header__cart-list-nocartmsg,
.header__cart-list--nocart .header__cart-img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.header__cart-list-nocartmsg {
    display: block;
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text_color);
    user-select: none;
}

.header__cart-icon {
    color: var(--white_color);
    font-size: 2.6rem;
    margin-top: 6px;
}

/* Hascart */
.header__cart__notice {
    position: absolute;
    padding: 1px 7px;
    top: -4px;
    right: -4px;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: var(--white_color);
    border-radius: 10px;
    border: 2px solid  #EE4e2d;
    z-index: 0;
}

/* Search btn */
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text_color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.header__search-select:hover .header__search-select-option {
    display: block;
}
.header__search-select-option {
    right: 0;
    top: calc(100% - 4.8px);
    position: absolute;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px rgb(238, 237, 237);
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-select-option::before {
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    top: -10px;
    left: 0;
    position: absolute;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text_color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #adaaaa;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #fc1100;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white_color);
}

.header__search-select-option-item {
    background-color: var(--white_color);
    padding: 8px 8px;
}

.header__search-select-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-select-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-select-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-select-option-item span {
    font-size: 1.4rem;
    color: var(--text_color);
    margin-left: 8px;
}

.header__search-select-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-select-option-item--acticve i {
    display: inline-block;
}

/* Search History */
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16%);
    background-color: var(--white_color);
    box-shadow: 0 1px 5px rgb(230, 227, 227);
    display: none;
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
}

.header__search-input:hover ~.header__search-input-history {
    display: block;
}

.header__search-input-heading {
    margin: 6px 12px;
    font-size: 1,4rem;
    color: rgb(221, 220, 220);
    font-weight: 350px;
    user-select: none;
}

.header__search-input-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-input-item {
    height: 38px;
    padding: 0 14px;
}

.header__search-input-item:hover {
    background-color: #fafafa;
}

.header__search-input-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text_color);
    line-height: 38px;
    display: block;
}
/* Header Sortbar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-barheight);
    background-color: var(--white_color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__mobile-search {
    display: none;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-radius: unset;
}

.header__sort-item {
    flex: 1;
    position: relative;
}

.header__sort-item:first-child  .header__sort-link::before{
    display: none;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    height: 60%;
    top: 50%;
    left: 0;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-link {
    text-decoration: none;
    color: var(--text_color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-barheight);
    text-align: center;
    position: relative;
}

/* Content Container */
.app__cotainer {
    background-color: #fafafa;
}

.app__content {
    padding-top: 30px;
}

.category {
    border-radius: 2px;
    background-color: var(--white_color);
    display: block;
}

.category-heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text_color);
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}

.category-list {
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 9px;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #E1e1e1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    text-decoration: none;
    right: 0;
    color: var(--black_color);
    font-size: 1.4rem;
    font-weight: 400px;
    padding: 8px 20px;
    display: block;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}
/* Mobile-category */
.mobile-category {
    display: none;
}

.mobile-category-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category-list::-webkit-scrollbar {
    display: none;
}

.mobile-category-item:nth-of-type(3n+3) .mobile-category-link{
    background-color:  #87Afd8;
}

.mobile-category-item:nth-of-type(3n+1) .mobile-category-link{
    background-color:  #76c9bd;
}
 
.mobile-category-item:nth-of-type(3n+2) .mobile-category-link{
    background-color:  #88cf81;
}

.mobile-category-item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category-link {
    --line-height: 2rem;
    display: block;
    text-decoration: none;
    color: var(--white_color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 1.4rem;
    line-height: var(--line-height);
    text-align: center;
    width: 110px;
    height: calc(var(--line-height)*2);
    border-radius: 5px;
    font-weight: 300px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}


/* Home-sort */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    position: relative;
    margin-left: 0px;;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
    flex-shrink: 0
}
.home-filter_btn {
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white_color);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text_color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white_color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
} 

.home-filter__page-btn:first-child {
    border: 1p solid #eee;
    background-color: #f9f9f9;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product Item */
.home--product {
    padding-bottom: 10px;
}

.home-product__item {
    display: block;
    text-decoration: none;
    background-color: var(--white_color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    cursor: pointer;
}

.home-product__item:hover  {
    transform: translateY(-1px);
    box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.05);
}

.home-product__item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product__item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text_color);
    margin: 10px 10px 10px 6px;
    /* Tạo dấu ... cho dòng */
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Tạo ... cho trình duyệt không hỗ trợ*/
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product__item-price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product__item-priceold {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product__item-pricenew {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;

}

.home-product__item-action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 6px 10px;
}

.home-product__item-heart {
    font-size: 1.2rem;
}

i.home-product__item-heart--like-icon-fill {
    display: none;
    color: red;
}

.home-product__item-heart--like .home-product__item-heart--like-icon-fill {
    display: inline-block;
}

.home-product__item-heart .home-product__item-heart--like-icon-no {
    display: inline-block;
}

.home-product__item-rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    transform-origin: right;
    margin: -1px 0 0 auto;
}

.home-product__item-rating-star {
    color: var(--star);
}

.home-product__item__sold {
    color: var(--text_color);
    font-size: 1.2rem;
    margin-left: 6px;
}

.home-product__item-origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300px;
}

.home-product__item-favor {
    position: absolute;
    top: 10px;
    left: -4px;
    font-size: 1.2rem;
    font-weight: 500px;
    line-height: 1.6rem;
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: var(--primary-color);
    background-color: currentColor;
}

.home-product__item-favor span {
    color: var(--white_color);
}

.home-product__item-favor::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid  currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product__item-favor i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white_color);
}

.home-product__item-saleoff {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.95);
    border-top-right-radius: 2px;
}

.home-product__item-saleoff::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.95) transparent rgba(255, 216, 64, 0.95) ;
}

.home-product__item-saleoff-percent {
    color: #EE4e2d;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    position: relative;
    top: -4px;
}

.home-product__item-saleofflabel {
    font-weight: 600;
    line-height: 1.3rem;
    font-size: 1.3rem;
    color: var(--white_color);
    position: relative;
    top: -20px;
}

.home--product__pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    margin: 2px 0;
    display: block;
    display: flex;
    align-items: center;
}

.footer-item-link:hover {
    color: var(--primary-color);
}

.footer-item-icon  {
    font-size: 1.6rem;
    margin-top: -1.5px;
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__qrimg {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border_color);
}

.footer__download-apps {
    margin-left: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer__download-apps-img {
    font-size: 1.4rem;
    height: 16px;
}

.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    padding: 10px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}