/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        align-items: center;
    }

    .header__mobile-search {
        display: block;
    }

    .app__cotainer {
        padding-top: 8px;
        margin-top: calc(var(--header-height) + var(--header-sort-barheight));
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        background-color: var(--white_color);
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }    

    .header__cart-list::before {
        display: none;
    }
    
    .header__sort-bar {
        display: flex;
    }

    .mobile-category {
        display: block;
    }

    .header__mobile-danhmuc {
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
        position: relative;
        z-index: 1;
    }

    .home-filter__label {
        display: none;
    }

    .mobile-category-list {
        margin-top: -14px;
    }

}

/* Mobile */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: -41px;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        padding: 0 16px;
        animation: mobileSearchSideIn linear ease-in 0.3s;
        display: none;
    }

    .header__search-input-history {
        position: fixed;
        left: 0;
        width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        top: calc(var(--header-height) + var(--header-sort-barheight));
    }
    .pagination-item {
        margin: 0;
    }

    .pagination-item-link {
        --height: 28px;
        font-size: 1.6ren;
        min-width: 36px;
    }

    .app__cotainer {
        margin: 80px 4px;
        padding-top: 8px;
    }

    .header__logo-img {
        width: 140px;

    }

    .footer__content {
        padding: 0 16px;
    }

    .footer__heading {
        text-align: center;
    }

    .footer__download,
    .footer-item-link {
        justify-content: center;
    }
    
    .footer__download-apps {
        flex: unset;
    }

    .footer__download-apps-link {
        display: block;
        padding: 5px 8px;
    }
    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height)/2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
}